
a {
    text-decoration: none;
}
.custom-form {
    width: 40%;
    margin: auto;
}

#dashboard {
    margin: 40px 0px 0px 0px;
    text-align: center;
}

.edit-profile-form {
    width: 500px;
    margin: auto;
}

.admin-btn {
    text-decoration: none;
    margin-right: 10px;
}
/* unvisited link */
.admin-btn:link {
    color: red;
  }

  /* visited link */
.admin-btn:visited {
    color: green;
  }

  /* mouse over link */
.admin-btn:hover {
    color: hotpink;
  }

  /* selected link */
.admin-btn:active {
    color: blue;
  }

  .success-error {
    z-index: 90;
  }

  .alert-success {
    left: 42%;
    z-index: 10;
  }
.alert-danger {
    left: 42%;
    z-index: 10;
}

.flash-message {
  opacity: 0;
  transition: opacity 1s ease;
}

.flash-message.fade-in {
  opacity: 1;
}

.flash-message.fade-out {
  opacity: 0;
}