
a {
    text-decoration: none;
}
.custom-form {
    width: 40%;
    margin: auto;
}

#dashboard {
    margin: 40px 0px 0px 0px;
    text-align: center;
}

.edit-profile-form {
    width: 500px;
    margin: auto;
}

.admin-btn {
    text-decoration: none;
    margin-right: 10px;
}
/* unvisited link */
.admin-btn:link {
    color: red;
  }

  /* visited link */
.admin-btn:visited {
    color: green;
  }

  /* mouse over link */
.admin-btn:hover {
    color: hotpink;
  }

  /* selected link */
.admin-btn:active {
    color: blue;
  }

  .success-error {
    z-index: 90;
  }

  .alert-success {
    left: 42%;
    z-index: 10;
  }
.alert-danger {
    left: 42%;
    z-index: 10;
}

.flash-message {
  opacity: 0;
  transition: opacity 1s ease;
}

.flash-message.fade-in {
  opacity: 1;
}

.flash-message.fade-out {
  opacity: 0;
}

.site-nav {
  box-shadow: 0 4px 6px #c8dbf7;
  z-index: 100;
}
.below-nav-content {
  margin-top: 5%;
}

/*==*==*==*==*==*==*==*==*==*==*==*/
/*==     theme color change     ==*/
/*==*==*==*==*==*==*==*==*==*==*==*/

/* Custom light theme */
.custom-light {
  background-color: #f8f9fa;
  /* Light gray background */
  color: #212529;
  /* Bootstrap text-dark */
}

/* Custom dark theme */
.custom-dark {
  background-color: #212529;
  /* Dark background */
  color: #f8f9fa;
  /* Light text */
}

/* Optional: transition effect when switching themes */
body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

.theme-switch{
  margin-top: 5%;
}


/* Light Mode Styling (default) */
.light-mode .my-section {
  background-color: #ffffff;
  color: #212529;
}

.light-mode .my-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #121212;
}

.light-mode .my-alert {
  background-color: #e2e3e5;
  color: #383d41;
}

/* Dark Mode Styling */
.dark-mode .my-section {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-mode .my-card {
  background-color: #1e1e1e;
  border: 1px solid #444;
  color: #dee2e6;
}

.dark-mode .my-alert {
  background-color: #333;
  color: #f8d7da;
}
/*==*==*==*==*==*==*==*==*==*==*==*/
/*==   end theme color change   ==*/
/*==*==*==*==*==*==*==*==*==*==*==*/


/* Custom left sidebar */
.left-sidebar {
  top: 90px;
  /* Height of the Bootstrap navbar */
  bottom: 60px;
    /* Height of the footer */
  width: 200px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  padding-top: 1rem;
}
    
.left-sidebar .nav-item {
  border-bottom: 2px solid #ddd;
}

.nav-link.active {
  font-weight: bold;
   background-color: #e9f5ff;
  border-left: 4px solid #0d6efd;
}